<!DOCTYPE html>

<html>
  <head>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/client_app.js"></script>

    <link rel="stylesheet" type="text/css" href="hack2.css">
    <title>Crowdflower-Zipit</title>
    <link href="https://dy5zjr62m3i6k.cloudfront.net/assets/favicon-11a413b5c0be70f054ebd3e3a0dfbb6c.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" media="all" rel="stylesheet" type="text/css" />

  </head>

  <body>
  <header>
      <div id="title_img"> <img src="img/logo.png" alt="crowdflower logo"> </div>
      <div id="title_text"><p>ZipIt Tool</p></div>
  </header>
    <div class="container">
    <div class="left_side">
    <div class="row">
    <div class="jumbotron col-md-6 col-md-offset-3">
          <h2>Instructions</h2>
          <ul id="instruction_list">
            <li>Upload your zipped photo folder</li>
            <li>Go to newly created job containing your images</li>
          </ul>
      </div>
      </div>
      <div class="row">
        <div class="jumbotron col-md-6 col-md-offset-3">
          <h2 id="status">Please select a file</h2>

          <form class="dropzone" method="POST" action="/save-details">
            <center>
              <input type="file" id="file-input"></input>
            </center>
            <button type="submit" class="btn" id="upload_finalize">Upload</button>
          </form>
        </div>
      </div>
      </div>
      <div class="right_side">
      <div class="row">
        <div class="jumbotron col-md-6 col-md-offset-3">
          <a href="#" id="cf_job_url" style="display: none;"><h2>Link to Job</h2></a>
          <h2 id="cf_job_preflight">Awaiting upload</h2>
        </div>
      </div>
      <div class="row">
        <div class="jumbotron col-md-6 col-md-offset-3">
          <h2>Status:</h2>
          <h2 id="upload_status">Awaiting upload</h2>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
